#button { padding: 10px;
    margin: 0;
      position: relative;
      top: 50%;
      left: 50%;
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); bottom:-800px;;} 

body {
    background: rgb(#9ce149);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
   /* background: rgb(239, 80, 41); */
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 0px;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;

}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
   
}


.nav-li {
    display: inline-block;
    padding: -0px;
  
}
.nav-lifix{
    display: inline-block;
    padding: 0px;
bottom: 31;}

a {
    text-decoration: none;
    color: #fff;
}


/* main container area beneath menu */

.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 3px silver ridge;
    padding: 8px;
   /*width: 150px;*/
}

.portfolios {
    border: 3px silver ridge;
    padding: 12px;
    font-size: xx-large;
    font-family: monospace;
    width:fit-content;
    transform: translateX(800px);  
    list-style: none;
   /*width: 150px;*/
}
h2, h3 {
    margin: 0px;
}

h2 {color:white;
font-family:cursive}

.text {
    color: hsl(190, 100%, 95%);
    font-size: larger;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#cursive {
    color: hsl(0, 0%, 100%);
    font-size: x-large;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    font-family: cursive;
    text-align: center;
    background: #000000;
    outline: 3 px white;
}

.p1 {
 position: relative; bottom:-300px; /*left:-450px*/
}

.portnav {
    background: #370617;
    margin: 0 auto;
    margin-bottom: 20px;
     display: flex;
     padding: 20px;
     text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
     width: 98%;
     align-self: center;
}
     

 body{background-color: #510513; }

 #portfolio {background: #370617;
width:fit-content;
padding: 30px;}

.augh{transform: translateX(820px); flex: 1;
    padding: 15px; }

