.buttonClass {
    font-size:35px;
    outline-width: 3px;
    outline-style:groove;
    outline-color: #2d0040;
}

.listClass {
    
display:inline-block;
list-style-type: none;


}
#descriptorClass {
  background: #3d3844;
    
    outline-width: 5px;
  outline-style:groove;
  outline-color: #2d0040;

    width:1000px;
    height: 300px;
    padding: 30px;
    position: absolute;
    left:250px;
    top: 40px;

    color: rgb(101, 138, 101);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

 
}

.statsClass {
  text-align: center;
  background: #3d3844;
  
  outline-width: 5px;
outline-style:groove;
outline-color: #2d0040;

  width:fit-content;
  padding: 30px;
  position: absolute;
  left:1400px;
  top: 40px;
  
font-size: 20px;

}

#health {
  color: red;
}

#resolve {
  color:rgb(117, 117, 117);
}

#ether {
  color: rgb(0, 125, 63);
}

#name {
  
    color: rgb(14, 124, 146);
    font-family: cursive;
    font-weight: bolder;
    position:absolute;
    top: -20px;
    left: 98px;
}

#location1 {
  
  font-size:35px;
  outline-width: 3px;
  outline-style:groove;
  outline-color: #2d0040;
}

#location2 {
  
  font-size:35px;
  outline-width: 3px;
  outline-style:groove;
  outline-color: #2d0040;
}

#location3 {
  
  font-size:35px;
  outline-width: 3px;
  outline-style:groove;
  outline-color: #2d0040;
}

#location4 {

  font-size:35px;
  outline-width: 3px;
  outline-style:groove;
  outline-color: #2d0040;
}

#nextButton {

  position: absolute;
  left: 700px;
  top: 350px;
  font-size: x-large;

  
}

#everything {
  /* for hiding entire screen*/ 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#show {
  position: absolute;
    left: 98px;
}

#hidden {
  background: #3d3844;
  
  outline-width: 5px;
outline-style:groove;
outline-color: #2d0040;

  width:fit-content;
  padding: 30px;
  position: absolute;
  left:1400px;
  top: 300px;
  color: rgb(101, 138, 101);
  
font-size: 12px;

}

#speaker {
  margin:auto;
  color: white;
  text-align: center;
}

#input {
  position:absolute;
  left:45.5%;
  top: 70px;
}

#submit {
  position: absolute;
  
  left:47.6%;
  top:95px;
}